<form action="/square_root/results">
  <div>
    <label for="square_results">
      Enter a number
    </label>
  </div>
  <div>
    <input id="square_results" type="text" name="user_square" placeholder="What number do you want">
  </div>

  <button>
    Calculate square
  </button>
</form>
