<form action="/square_root/results">
  <div>
    <label for="root_results">
      Enter a number
    </label>
  </div>
  <div>
    <input id="root_results" type="text" name="user_root" placeholder="What number do you want">
  </div>

  <button>
    Calculate square root
  </button>
</form>
